<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="content">
      <%- include('partials/navigation') %>
      <main class="box">
        <% if (locals.user) { %>
        <div>
          <div class="main-top">
            <h2 class="username">Hello, <span>@<%= user.username %>!</span></h2>
            <a href="/messages/create"
              >&plus; Create Message <span><%= totalMessages %></span></a
            >
          </div>
          <div class="posts">
            <% messages.forEach(message => { %>
            <div class="post">
              <h3><%= message.title %></h3>
              <p class="info">
                By
                <span class="username"
                  >@<%= user.is_member ? message.username : "Anonymous User"
                  %></span
                >
                - <%= message.created_at_text %>
              </p>
              <p class="content"><%= message.content %></p>
              <% if (user.is_admin) { %>
              <form action="/messages/<%= message.id %>/delete" method="POST">
                <button type="submit">Delete</button>
              </form>
              <% } %>
            </div>
            <% }) %>
          </div>
        </div>

        <% } else { %>
        <div class="video-background">
          <video autoplay muted loop>
            <source src="/videos/club-landing.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="video-content">
          <div class="welcome">
            <h1>Welcome to the HideSpot</h1>
            <a href="/log-in" class="button">Enter</a>
          </div>
        </div>
        <% } %>
      </main>
    </div>
    <%- include('partials/footer') %>

    <script src="/js/navigation.js"></script>
  </body>
</html>
